<p><strong>Subtotal:</strong> <%= number_to_currency(@order.order_items.sum { |i| i.unit_price * i.quantity }) %></p>
<p><strong>GST:</strong> <%= number_to_currency(@order.user.province.gst * @order.total_price) %></p>
<p><strong>PST:</strong> <%= number_to_currency(@order.user.province.pst * @order.total_price) %></p>
<p><strong>HST:</strong> <%= number_to_currency(@order.user.province.hst * @order.total_price) %></p>
<p><strong>Total:</strong> <%= number_to_currency(@order.total_price) %></p>
