<h1><%= @category.name %> Products</h1>

<%= form_with url: category_path(@category), method: :get, local: true do |f| %>
  <div class="form-group">
    <%= f.label :search, "Search Products" %>
    <%= f.text_field :search, value: params[:search], placeholder: "Search by keyword", class: "form-control" %>
  </div>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= product.name %> - <%= number_to_currency(product.price) %>
        <%= link_to "View", product_path(product), class: "btn btn-info" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No products found in this category.</p>
<% end %>

<%= paginate @products %>
