<h2><%= @product.name %></h2>
<p><%= @product.description %></p>

<% if @product.category %>
  <p>
    Category:
    <%= link_to @product.category.name, category_path(@product.category), class: "btn btn-outline-primary btn-sm" %>
  </p>
<% end %>

<%= button_to "Add to Cart", add_to_cart_path(@product), method: :post, class: "btn btn-success" %>

<h3>Reviews</h3>

<% if @reviews.any? %>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <p><%= review.user.email %>: <%= review.rating %> - <%= review.comment %></p>
      </li>
    <% end %>
  </ul>

  <!-- Add pagination for reviews -->
  <%= paginate @reviews %>

<% else %>
  <p>No reviews yet.</p>
<% end %>

<% if user_signed_in? %>
  <h4>Leave a Review:</h4>
  <%= form_with(model: Review.new, url: product_reviews_path(@product)) do |f| %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <div><%= f.label :rating %> <%= f.number_field :rating, in: 1..5 %></div>
    <div><%= f.label :comment %> <%= f.text_area :comment %></div>
    <%= f.submit "Post Review" %>
  <% end %>
<% end %>

<%= link_to "Return to Shop", products_path, class: "btn btn-secondary mt-3" %>
